{% if page.header %}
  <header class="container text-center border pt-3 pb-3">
    {{ page.header }}
  </header>
{% endif %}

<main class="container text-center pt-3 pb-3">
  <div class="row">
    {% if page.sidebar_first %}
      <aside class="col-4">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}
    <section class="{{ page.sidebar_first ? 'col-8' : 'col-12' }}">
      {{ page.content }}
    </section>
  </div>
</main>

{% if page.footer %}
  <footer class="container text-center footer text-muted pt-3 pb-3">
    {{ page.footer }}
  </footer>
{% endif %}
</div>
